/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 20px;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* UTILITIES */
.float-left > * {
    float: left;
}

.float-right > * {
    float: right;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.width-1200 {
    width: 1200px;
}

.width-100vw {
    width: 100vw;
}

.p-30 {
    padding: 30px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-150 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.mx-auto {
    margin: 0 auto;
}

.mx-216 {
    margin-left: 216px;
    margin-right: 216px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

/* TEXT UTILITIES */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-color-1 {
    color: #fff;
}

.text-color-2 {
    color: #23272a;
}

.text-color-3 {
    color: #7289da;
}

/* Buttons type */
.btn {
    border-radius: 10rem;
}

.small-btn {
    padding: .5rem 1rem;
    font-size: 14px;
}

.big-btn {
    padding: .8rem 1.2rem;
    font-size: 18px;
}

.btn-type-1 {
    background: #fff;
    color: #333739;
}

.btn-type-2 {
    background: #23272a;
    color: #fff;
}

.btn-type-3 {
    background: #8ea1e1;
    color: #fff;
}

/* Icons */
.btn-download::before {
    content: '\f309';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
}

/* Background type */
.bg-type-1 {
    background-color: #255ee9;
}

.bg-type-2 {
    background-color: #fff;
}

.bg-type-3 {
    background-color: #f6f6f6;
}

.bg-type-4 {
    background-color: #23272a;
}

.bg-image-1 {
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 50%;
}

/* NAV */
.main-nav {
    height: 80px;
}

.main-nav > * {
    position: relative;
    bottom: 5px;
    vertical-align: middle;
}

.main-nav > *,
.main-nav li {
    display: inline-block;
}

.main-nav li {
    margin-right: 40px;
}

.main-nav li:last-of-type {
    margin-right: 0;
}

/* JUMBO */
/* .jumbo {
    background-image: url('../img/jumbo.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.jumbo-image {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.jumbo-text {
    width: 50%;
}

/* MAIN CONTENT */
.main-section section .image {
    width: 70%;
}

.main-section section .text {
    width: 30%;
}

/* FOOTER */
.top-footer {
    border-bottom: 1px solid #4a5882;
}

.top-footer .main-box {
    width: 36%;
}

.top-footer h4 {
    padding-right: 140px;
    font-size: 36px;
    font-weight: 700;
}

.top-footer .main-box .language {
    font-size: 14px;
}

.top-footer .main-box .language img {
    height: 20px;
    vertical-align: middle;
}

.top-footer .main-box .social i {
    margin-right: 20px;
    font-size: 18px;
}

.top-footer .main-box .social i:last-of-type {
    margin-right: 0;
}

.top-footer .menu {
    width: 16%;
    list-style-type: none;
}

.top-footer .menu li {
    padding: 5px 50px 5px 0;
}

.top-footer .menu li:first-of-type {
    font-weight: 700;
    color: #7289da;
}

.bottom-footer div {
    width: 50%;
}